{% extends 'base.html' %}

{% block scripts%}
<script src="/static/js/balance.js"></script>
{% endblock scripts %}

{% block contenido %}

<h1>Movements</h1>

<section class="seccion-movimientos">
    <table class="paper">
        <thead>
            <tr>
                <th class="titulo-tabla">Date</th>
                <th class="titulo-tabla">From</th>
                <th class="titulo-tabla numero">Quantity</th>
                <th class="titulo-tabla">To</th>
                <th class="titulo-tabla numero">Quantity</th>
                <th class="titulo-tabla numero">Invest amount</th>
            </tr>
        </thead>
        <tbody id="cuerpo-tabla">
            <!-- Aquí tenemos que cargar los movimientos que leamos desde la API -->
        </tbody>
    </table>
</section>

{% endblock contenido %}