{% extends 'base.html' %}

{% block scripts%}
<script src="/static/js/balance.js"></script>
{% endblock scripts %}

{% block content %}

<h1 class="tittle">Movements</h1>

<div class="table-container">
    <table class=" table">
        <thead>
            <tr>
                <th class="content table th">Date</th>
                <th class="content table th">Time</th>
                <th class="content table th">From</th>
                <th class="content table th">Quantity</th>
                <th class="content table th">To</th>
                <th class="content table th">Quantity</th>
                <th class="content table th">Unit Price</th>
            </tr>
        </thead>
        <tbody id="table-container">

        </tbody>
    </table>
</div>

{% endblock content %}