{% extends "base.html" %}

{% block scripts%}
<script defer src="/static/js/form.js"></script>
{% endblock scripts %}

{% block content%}

<form novalidate id="form-mov">
    {{ form.csrf_token }}
    {{ form.id }}


    <div class="field is-grouped">
        {{ form.from_currency.label(class_="label") }}
        {{ form.from_currency(class_="select") }}

        {{ form.to_currency.label(class_="label") }}
        {{ form.to_currency(class_="select") }}

    </div>

    <div class="field has-addons">
        {{ form.from_quantity.label(class_="label") }}
        <div class="control">
            <input class="input" id="from_quantity" name="from_quantity" required="" type="text" value=""
                placeholder="amount">
        </div>
        <div class="control">
            <a class="secundary-button" id="calculate">
                Calculate
            </a>
        </div>
    </div>

    <div class="field">
        {{ form.to_quantity.label(class_="label") }}
        {{ form.to_quantity }}
    </div>

    <div class="field">
        {{ form.u_price.label(class_="label") }}
        {{ form.u_price }}
    </div>

    <div>
        {{ form.submit(class_="main-button") }}
    </div>

</form>

{% endblock content %}