{% extends "base.html" %}

{% block scripts%}
<script defer src="/static/js/form.js"></script>
{% endblock scripts %}

{% block contenido%}

<form novalidate id="form-mov">
    {{ form.csrf_token }}
    {{ form.id }}

    <div class="form-field">
        {{ form.from_currency.label }}
        {{ form.from_currency }}
    </div>

    <div class="form-field">
        {{ form.from_quantity.label }}
        {{ form.from_quantity }}
    </div>

    <div class="form-field">
        {{ form.to_currency.label }}
        {{ form.to_currency }}
    </div>

    <div class="form-field">
        {{ form.to_quantity.label }}
        {{ form.to_quantity }}
    </div>

    <div class="form-field">
        {{ form.u_price.label }}
        {{ form.u_price }}
    </div>

    <div class="actions">
        {{ form.submit }}
    </div>
</form>

<div>
    <button id="calculate">Calculate</button>
</div>

{% endblock contenido %}