{% extends 'base.html' %}

{% block scripts%}
<script defer src="/static/js/status.js"></script>
{% endblock scripts %}

{% block content%}

<h1 class="tittle">Inversion Status</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th class="content-table-status">Invested</th>
                <th class="content-table-status">Actual Value</th>
            </tr>
        </thead>
        <tbody id="inv-status">

        </tbody>
    </table>
</div>


{% endblock content%}