{% extends 'base.html' %}

{% block scripts%}
<script defer src="/static/js/status.js"></script>
{% endblock scripts %}

{% block contenido%}

<h1>Inversion Status</h1>

<section class="seccion-movimientos">
    <table class="paper">
        <thead>
            <tr>
                <th class="titulo-tabla numero">Invested</th>
                <th class="titulo-tabla numero">Actual Value</th>
            </tr>
        </thead>
        <tbody id="inv-status">
            <!-- Aquí tenemos que cargar los movimientos que leamos desde la API -->
        </tbody>
    </table>
</section>

{% endblock contenido%}