.card-header-title {
    background-color: #006666;
}

.field {
    margin: 20px;
}

.label {
    margin-right: 20px;
}

.select {
    margin-right: 20px;
}

.button {
    margin-right: 80px;
}

.navbar {
    background-color: #009999;
}

.table-container {
    margin-left: 350px;
}

.tittle {
    margin-left: 40rem;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-table-status {
    margin: 50rem;
}